.callback{
	font-family: 'Open Sans', sans-serif;
	&__textarea{
		resize: none;
		background-color: #fff;
		border: 1px solid #d5dae0;
		border-radius: 4px;
		padding: 15px;
		height: 188px;
		width: 100%;
		color: #7f929e;
		box-sizing: border-box;
		font-size: 14px;
		outline: none;
		border-radius: 0;
	}
	&__textarea, &__photo{
		margin: 30px 0;
	}
	&__photo{
		display: block;
		margin: 30px 0 0 15px;
	}
	&__btn, &__btn2{
		width: 150px;
		height: 40px;
		line-height: 40px;
		font-weight: 600;
		font-size: 14px;
		text-transform: uppercase;
		text-align: center;
	}
	&__btn{
		background: #3e69e6;
		color: #fff;
		&:hover, &:focus{
			background: #3e69e6;
			color: #fff;
			text-decoration: none;
		}
	}
	&__btn2{
		box-shadow: 0 0 8px rgba(50,50,50,0.3);
		background: #fff;
		border: 0;
		color: #3e69e6;
		margin-left: -5px;
		font-size: 17px;
		font-weight: 500;
		&:hover, &:focus{
			color: #3e69e6;
			text-decoration: none;
		}
	}
	&__search, &__btn, &__btn2{
		display: inline-block;
		outline: none;
	}
	&__search{
		min-width: 240px;
		padding-left: 10px;
		border: 1px solid #d8d8d8;
	}
	&__block{
		display: inline-block;
		text-align: right;
	}
	&__file{
		line-height: 32px;
	}
	&__up{
		display: block;
		text-align: center;
		text-transform: uppercase;
		color: #3e69e6;
		font-weight: 600;
		position: relative;
		margin: 25px auto;
		font-size: 19px;
		text-decoration: none;
		line-height: 17px;
		&:hover, &:focus{
			color: #3e69e6;
			text-decoration: none;
		}
	}
	&__svg{
		display: inline-block;
		padding: 0 10px;
	}
	&__wrp{
		text-align: center;
	}
	&__link{
		display: block;
		text-align: center;
		margin: 12px 0;
		font-size: 19px;
		font-weight: 500;
		color: #3e69e6;
		text-transform: uppercase;
		&:hover, &:focus{
			color: #3e69e6;
			text-decoration: none;
		}
	}
	&__response{
		display: none;
		width: 90%;
		margin: auto;
		height: 50px;
		line-height: 50px;
		text-align: center;
		text-transform: uppercase;
		box-shadow: 0 0 8px rgba(50,50,50,0.3);
		color: #3e69e6;
		font-weight: 500;
		font-size: 19px;
		&:hover, &:focus{
			color: #3e69e6;
			text-decoration: none;
		}
	}
}