.content{
	font-family: 'Open Sans', sans-serif;
	box-shadow: 0,0,5px rgba(0,0,0,0.6);
	padding: 0 15px;
	&__wrap{
		box-shadow: 0 2px 3px rgba(0,0,0,0.5);
		border: 1px solid #ccc;
		border-radius: 5px;
		background: #fff;
	}
	&__title{
		font-weight: 300;
		font-size: 32px;
		color: #000;
		text-align: center;
		margin: 0;
		padding: 10px 0;
	}
	&__block{
		display: flex;
		justify-content: center;
		align-items: center;
		border-top: 1px solid #cccccc;
		padding: 15px 0;
	}
	&__text{
		font-size: 28px;
		color: #000;
		padding-left: 30px;
	}
	&__paragraph{
		font-size: 36px;
		color: #000;
		font-weight: 600;
		text-align: center;
		margin: 0;
	}
	&__btn{
		display: block;
		text-transform: uppercase;
		padding: 25px 80px;
		background: linear-gradient(to top, #36169d, #4f29c8);
		font-size: 40px;
		color: #fff;
		border: 0;
		margin: 25px auto 50px auto;
	}
	&__new{
		text-align: center;
		font-size: 22px;
		font-family: arial;
		color: #959595;
		margin: auto;
		padding-top: 90px;
	}
}
