.header{
	font-family: 'Open Sans', sans-serif;
	&__menu{
		display: none;
		justify-content: space-around;
		padding: 10px;
	}
	&__burger, &__name, &__exit{
		display: inline-block;
	}
	&__name,&__exit{
		position: relative;
		color: #3e69e6;
		&:hover, &:focus{
			color: #3e69e6;
			text-decoration: none;
		}
	}
	&__name{
		font-size: 16px;
		font-weight: 600;
		&::before{
			content: '';
			position: absolute;
			width: 22px;
			height: 22px;
			background: url(../img/logo.svg) no-repeat;
			left: -30px;
		}
	}
	&__exit{
		font-size: 16px;
		text-transform: uppercase;
		font-weight: 300;
		&::after{
			content: '';
			position: absolute;
			width: 22px;
			height: 22px;
			background: url(../img/arrow-header.svg) no-repeat;
			left: -30px;
			top: 4px;
		}
	}
	&__item{
		display: inline-block;
		padding: 15px 65px;
		font-size: 16px;
	}
	&__left{
		background: #e5e5e5;
	}
	&__mid{
		background: #f7f7f7;
	}
	&__right{
		box-shadow: 0 0 20px rgba(0,0,0,0.3);
	}
	&__list{
		margin-top: 10px;
		margin-bottom: 60px;
		padding: 0;
		position: relative;
		font-size: 0;
		&::after{
			content:'';
			position: absolute;
			background: #fff;
			height: 40px;
			width: 100%;
			top: 50px;
			left: 0;
			z-index: 2;
		}
	}
	&__link{
		color: #969696;
		&:hover,&:focus{
			color: #3e69e6;
			text-decoration: none;
		}
	}
	&__color{
		color: #3e69e6;
	}
	&__btn{
		display: block;
		padding: 0 150px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		text-transform: uppercase;
		box-shadow: 0 0 8px rgba(50,50,50,0.3);
		margin-left: 80px;
		color: #3e69e6;
		font-weight: 500;
		font-size: 19px;
		position: relative;
		&:hover, &:focus{
			color: #3e69e6;
			text-decoration: none;
		}
		&::after{
			content: '';
			position: absolute;
			background: url(../img/arrows.svg) no-repeat;
			width: 19px;
			height: 17px;
			background-size: 20px;
			left: 110px;
			top: 16px;
		}
	}
	&__prop, &__title{
		color: #969696;
	}
	&__prop{
		font-weight: 500;
	}
	&__text{
		color: #b4b4b4;
		font-weight: 300;
		font-size: 19px;
		margin-top: 15px;
		margin-bottom: 0;
	}
	&__title{
		margin: 0;
		font-weight: 500;
		font-size: 22px;
		text-transform: uppercase;
		padding-left: 15px;
	}
	&__flex{
		display: flex;
		align-items: center;
		min-height: 288px;
	}
	&__border{
		border-bottom: 1px solid #ddd;
		padding-bottom: 20px;
	}
}