.header{
	font-family: 'Open Sans', sans-serif;
	height: 800px;
	position: relative;
	background: #1f2021;
	&__list{
		margin: 0;
	}
	&__main{
		height: 80px;
		background-color: rgba(0,0,0,0.7);
	}
	&__logo{
		float: left;
		margin: 22px 0;
	}
	&__item{
		display: inline-block;
		margin: 28px 18px;
		list-style-type: none;
	}
	&__link{
		font-size: 13px;
		color: #fff;
		font-weight: 600;
		text-decoration: none;
		text-transform: uppercase;
		transition: ease-out 0.5s;
		&:hover{
			color: #00c7fc;
			text-decoration: none;
		}
	}
	&__search{
		float: right;
		display: block;
		background: url(../img/search.png) no-repeat;
		width: 15px;
		height: 15px;
		margin: 32px 0;
	}
	&__block{
		position: absolute;
		left: 0;
		bottom: 35%;
		clear: both;
		width: 1055px;
		height: 335px;
		background: #0f748f;
		color: #fff;
	}
	&__photo1{
		background: url(../img/photo1.jpg) no-repeat center center;
		height: 800px;
	}
	&__photo2{
		background: url(../img/photo2.jpg) no-repeat center center;
		height: 800px;
	}
	&__photo3{
		background: url(../img/photo3.jpg) no-repeat center center;
		height: 800px;
	}
	&__position{
		width: 100%;
		top: 0;
		position: fixed;
		z-index: 2;
	}
	&__block{
		width: 1055px;
		height: 335px;
		background-color:rgba(0,0,255,0.3)
	}
}
.owl-carousel.owl-loaded{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.owl-theme .owl-controls .owl-buttons div {
	position: absolute
}

.owl-theme .owl-controls .owl-buttons .owl-prev{
	background-image: url(../img/left.svg);
	left: 100px;
	top: 400px; 
	background-position: 45% 50%;
}
 
.owl-theme .owl-controls .owl-buttons .owl-next{
	background-image: url(../img/right.svg);
	right: 100px;
	top: 400px;
	background-position: 55% 50%;
}
.owl-theme .owl-controls .owl-buttons .owl-prev,
.owl-theme .owl-controls .owl-buttons .owl-next {
	z-index: 3;
	background-color:rgba(0,0,0,0.5);
	border-radius: 50%;
	opacity: 1;
	width: 60px;
	height: 60px;
	background-size: 40%;
	background-repeat: no-repeat;
}
.owl-theme .owl-controls .owl-buttons .owl-prev:hover,
.owl-theme .owl-controls .owl-buttons .owl-next:hover {
	background-color:rgba(0,0,0,0.7);
}