@media only screen and (max-width : 1199px){
	.header{
		&__btn{
			font-size: 18px;
		}
	}
	.callback{
		&__search{
			min-width: 220px;
		}
	}
}
@media only screen and (max-width : 991px){
	.header{
		&__menu{
			display: flex;
		}
		&__flex{
			justify-content: center;
			margin: auto;
		}
		&__title{
			padding: 0;
		}
		&__btn{
			margin: 25px auto;
		}
		&__item{
			display: block;
			text-align: center;
		}
		&__list{
			margin: 0;
			text-align: center;
			&::after{
				display: none;
			}
		}
		&__border{
			display: flex;
			flex-wrap: wrap;
			padding: 0;
		}
		&__flex{
			order: 2;
			min-height: 0;
			margin: 25px 0;
		}
		&__center{
			max-width: 600px;
			margin: 30px auto 0 auto; 
		}
	}
	.content{
		&__form2{
			justify-content: end;
			text-align: right;
			margin: 0;
		}
		&__photo2{
			order: 1;
		}
		&__block2{
			margin-left: 0;
			margin-right: 40px;
		}
		&__wrp2{
			justify-content: end;
		}
		&__comment,&__comment2{
			max-width: 600px;

		}
	}
	.callback{
		&__search{
			min-width: auto;
			width: 70%;
		}
		&__btn2{
			width: 30%;
		}
		&__photo{
			margin: 30px auto 0 auto;
		}
		&__none{
			display: none;
		}
		&__block{
			text-align: left;
			margin: 40px 0 50px 0;
		}
		&__textarea{
			margin: 0;
		}
		&__response{
			display: block;
		}
		&__up{
			border-top: 1px solid #d8d8d8;
			padding-top: 20px;
		}
	}
}
@media only screen and (max-width : 544px){
	.callback{
		&__btn2{
			font-size: 16px;
		}
	}
}
@media only screen and (max-width : 360px){
	.header{
		&__text{
			font-size: 16px;
		}
		&__btn{
			padding: 0 60px;
			&::after{
				left: 32px;
			}
		}
		&__btn{
			font-size: 16px;
		}
	}
	.content{
		&__block, &__block2{
			font-size: 13px;
		}
		&__date{
			font-size: 15px;
		}
		&__comment, &__comment2, &__img{
			font-size: 14px;
		}
	}
	.callback{
		&__btn2{
			font-size: 11px;
		}
		&__up, &__response, &__link{
			font-size: 16px;
		}
	}
}
@media only screen and (max-width : 320px){
	.callback{
		&__btn2{
			font-size: 9px;
		}
	}
}