@media only screen and (max-width : 992px){
	.menu{
		padding-bottom: 30px;
	}
	.content{
		&__new{
			padding: 60px 0 20px 0;
		}
	}
}
@media only screen and (max-width : 890px){
	.container{
		max-width: 100%;
	}
	.menu{
		&__icon{
			width: 10%;
			object-fit: cover;
		}
	}
	.content{
		&__icon{
/*			width: 60px;*/
			width: 10%;
			object-fit: cover;
		}
		&__text{
			font-size: 26px;
			margin: 0;
		}
		&__paragraph{
			font-size: 30px;
		}
	}
}
@media only screen and (max-width : 480px){
	.menu{
		&__icon{
			width: 14%;
		}
	}
	.content{
		&__icon{
			width: 14%;
		}
		&__text{
			padding-left: 25px;
			font-size: 18px;
		}
		&__paragraph{
			font-size: 20px;
		}
		&__btn{
			padding: 12px 45px;
			font-size: 30px;
			margin: 15px auto 20px auto;
		}
		&__new{
			font-size: 16px;
			padding: 30px 0 10px 0;
		}
	}
}
@media only screen and (max-width : 480px){
	.menu{
		&__link{
			font-size: 20px;
			padding-left: 6px;
		}
	}
}
@media only screen and (max-width : 360px){
	.menu{
		&__icon{
			width: 18%;
		}
		&__link{
			padding-left: 8px;
			font-size: 16px;
		}
	}
	.content{
		&__new{
			font-size: 14px;
			padding: 25px 0 8px 0;
		}
		&__title{
			font-size: 22px;
		}
		&__text{
			font-size: 16px;
		}
		&__paragraph{
			font-size: 23px;
		}
	}
}
@media only screen and (max-width : 360px){
	.content{
		&__text{
			padding-left: 10px;
			font-size: 14px;
		}
		&__paragraph{
			font-size: 20px;
		}
		&__new{
			font-size: 10px;
		}
		&__btn{
			font-size: 25px;
		}
	}
	.menu{
		&__item{
			padding: 20px 0;
		}
	}
}