body{
	background: #eaeaea;
}
.menu{
	padding-bottom: 85px;
	font-family: 'Open Sans', sans-serif;
	&__list{
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #d9d9d9;
		display: flex;
		justify-content: center;
		align-content: center;
		background: #fff;
		box-shadow: 0 -4px 12px rgba(0,0,0,0.8);
	}
	&__item{
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 33.33333%;
		font-size: 14px;
		text-align: center;
		padding: 30px 0;
		border-left: 1px solid #b5b5b5;
		&:first-child{
			border-left: none;
		}
	}
	&__link{
		font-size: 24px;
		color: #000;
		font-weight: 300;
		text-decoration: none;
		padding-left: 15px;
		text-transform: uppercase;
	}
	&__icon, &__link{
		display: inline-block;
		vertical-align: top;
	}
}