.menu{
	font-family: 'Open Sans', sans-serif;
/*	position: relative;
	&::after{
		display: block;
		position: absolute;
		content: '';
		box-shadow: 0 0 2px rgba(0,0,0,0.8);
	}*/
	&__list{
		padding: 0;
		margin: 0;
		border-bottom: 1px solid #d9d9d9;
		display: flex;
		justify-content: center;
		align-content: center;
	}
	&__item{
		box-sizing: border-box;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 33.33333%;
		font-size: 14px;
		text-align: center;
		padding: 30px 0;
		border-left: 1px solid #d9d9d9;
		&:first-child{
			border-left: none;
		}
	}
	&__link{
		font-size: 24px;
		color: #000;
		font-weight: 300;
		text-decoration: none;
		padding-left: 15px;
		position: relative;
		&::after{
			content:'';
			position: absolute;
			width: 30px;
			height: 30px;
			background: url(../img/music.svg) no-repeat;
		}
	}
	&__icon, &__link{
		display: inline-block;
		vertical-align: top;
	}
}